<!-- app/views/sessions/new.html.erb -->

  <div class="login-page">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Sign In
        </h2>
      </div>
    </div>
    <div id="flash-messages">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="login">
      <div class="row">
        <div class="col-md-12">
          <%= form_tag login_path %>
          <%= label_tag :email %>
          <%= text_field_tag :email %>

          <%= label_tag :password %>
          <%= password_field_tag :password %>

          <%= submit_tag "Log in" %>
        </div>
      </div>
    </div>  
  </div>