<%# app/views/gprequests/index.html.erb %>

<div class="container">
  <div class="open_req_page">
    <h2>
      Open Requests
    </h2>
    <div class="session_info">
      <%= "Email: #{session[:email]} User ID: #{session[:user_id]}" %>
    </div>
    <% if @gprequests.count > 0 %>
      <% if !@allow_vote %>
        <div class="row">
        <%= "(You have already voted)" %>
        </div>
      <% end %>
      <thead>
        <tr>
          <th>Req ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Votes</th>
        </tr>
      </thead>
      <% if @allow_vote %>
        <% @gprequests.each do | gprequest | %>
          <% vote_count = vote_count(gprequest) %>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><%= "#{gprequest.id}" %></td>
                <td><%= "#{gprequest.title}" %></td>
                <td><%= "#{gprequest.description}" %></td>
                <td><%= "#{vote_count}" %></td>
                <td><%=  button_to 'Vote for this request', user_vote_path(id: gprequest.id) %></td>
              </tr>
            </tbody> 
          </table>
        <% end %>
      <% end %>
      <% if !@allow_vote %>
        <% @gprequests.each do | gprequest | %>
          <% vote_count = vote_count(gprequest) %>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><%= "#{gprequest.id}" %></td>
                <td><%= "#{gprequest.title}" %></td>
                <td><%= "#{gprequest.description}" %></td>
                <td><%= "#{vote_count}" %></td> 
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% else %>
      <div class="no_open_req">
        <%= "There are no open requests" %>
      </div>
    <% end %>
  </div>
</div>

